@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@-webkit-keyframes pulse {
  0%, to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: .4;
    top: 0;
  }
  50% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
    top: -10px;
  }
}
@keyframes pulse {
  0%, to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: .4;
    top: 0;
  }
  50% {
    -webkit-filter: none;
            filter: none;
    opacity: 1;
    top: -10px;
  }
}

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: #2e85d7 #1f2529;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2529;
}

::-webkit-scrollbar-thumb {
  background: #2e85d7;
}

::-webkit-scrollbar-thumb:hover {
  background: #2567a4;
}

body {
  font-family: "Montserrat", sans-serif;
}

blockquote, h1, h2, h3, h4, p, ul {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a:link, a:visited {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

.blue {
  color: #3490dc;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.6))), url(../img/triangles.gif);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../img/triangles.gif);
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px;
  margin-bottom: 5em;
}

.wrapper h1 {
  font-size: 3.5em;
  margin-bottom: 1rem;
  font-weight: 600;
}

.wrapper h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 2rem;
}

.wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper ul li {
  padding: 0 0.75em;
  margin-right: 0.75em;
}

.wrapper ul li:last-of-type {
  margin-right: 0;
}

.wrapper ul li a {
  text-align: center;
  color: #fff;
  display: block;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.wrapper ul li a.active, .wrapper ul li a:hover {
  color: #3490dc;
}

.wrapper ul li a svg {
  width: 40px;
  font-size: 40px;
}

.hero_arrow {
  color: #fff;
  position: absolute;
  bottom: 70px;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  cursor: pointer;
}

.hero_arrow .fa-chevron-down {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #fff;
  -webkit-animation: pulse 1.3s infinite;
          animation: pulse 1.3s infinite;
}

#portfolio h1 {
  text-align: center;
  padding-top: 3rem;
  margin: 0 auto 3rem;
}

#portfolio h1:after {
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  background-color: #3490dc;
  margin: 1rem auto 0;
}

#portfolio .container {
  max-width: 1600px;
  margin: 0 auto;
}

#portfolio .container #projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

#portfolio .container #projects .item {
  overflow: hidden;
  position: relative;
}

#portfolio .container #projects .item img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
}

#portfolio .container #projects .item .item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  margin: 0 auto;
}

#portfolio .container #projects .item .item-inner .item-text {
  font-size: 1.5rem;
}

#portfolio .container #projects .item .item-inner .tags .tags-wrapper {
  height: 100%;
  margin: 0 auto;
  width: 80%;
  position: relative;
}

#portfolio .container #projects .item .item-inner .tags .tags-wrapper li {
  display: inline-block;
  padding: .5em;
  background-color: #14588F;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
  font-size: .75em;
  margin: 2px;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#portfolio .container #projects .item .item-inner .item-btn {
  display: inline-block;
  border: 3px solid #3490dc;
  background-color: #3490dc;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#portfolio .container #projects .item .item-inner .item-btn:hover {
  border: 3px solid #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#portfolio .container #projects .item:hover img {
  -webkit-filter: brightness(15%);
          filter: brightness(15%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#portfolio .container #projects .item:hover .item-inner {
  opacity: 1;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

#portfolio .container #projects .item:hover .item-text {
  top: 20%;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
}

.modal-content {
  position: relative;
  max-width: 1200px;
  background: white;
  padding: 40px;
  overflow-y: auto;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  z-index: 10;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.modal-close {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 0;
}

.modal-close svg {
  padding: 0.5rem;
}

.modal img {
  width: 100%;
}

.show {
  visibility: visible;
  opacity: 1;
}

.modal.show > .modal-content {
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer {
  position: relative;
  background: #16161b;
  margin-top: 2rem;
  padding: 2rem 0;
}

footer #btnTop {
  position: absolute;
  background: #3490dc;
  text-align: center;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 40px;
  bottom: 2.5rem;
  right: 1rem;
  cursor: pointer;
}

footer #footerText {
  text-align: center;
  color: #fff;
  line-height: 1.5rem;
}

footer #footerText a {
  color: #3490dc;
}

@media only screen and (min-width: 480px) {
  footer #btnTop {
    right: 5rem;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper h1 {
    font-size: 4.5em;
  }
  .wrapper h2 {
    font-size: 2.75em;
  }
  .wrapper .social-list__link svg {
    width: 55px;
    font-size: 55px;
  }
  .hero_arrow {
    font-size: 35px;
  }
  #portfolio h1 {
    font-size: 2.5rem;
    padding-top: 4rem;
    margin: 0 auto 4rem;
  }
  #portfolio .container #projects .item .item-inner .item-text {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  #portfolio .container #projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  #portfolio .container #projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */