@import 'config';

// General Style and Resets
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: $scrollThumb $scrollTrack;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;

  &-track {
    background: $scrollTrack;
  }

  &-thumb {
    background: $scrollThumb;
  }

  &-thumb:hover {
    background: $scrollHover;
  }
}

body {
  font-family: $primary-font;
}

blockquote,h1,h2,h3,h4,p,ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a:link, a:visited {
  text-decoration: none;
  color: $white;
} 

ul {
  list-style-type: none;
  padding: 0;
}

.blue {
  color: $blue;
}


// Landing/Hero section
.hero {
  //background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.9)),url(../img/background.png);
  background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(../img/triangles.gif);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
}

.wrapper {
  justify-content: center;
  text-align: center;
  padding: 50px;
  margin-bottom: 5em;

  h1 {
    font-size: 3.5em;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  ul {
    display: flex;
    margin-bottom: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: 0 0.75em;
      margin-right: 0.75em;
      

      &:last-of-type {
        margin-right: 0;
      }

      a {
        text-align: center;
        color: $white;
        display: block;
        @include easeOut;

        //border: 2px solid #fff;
        //border-radius: 50%;

        &.active, &:hover {
          color: $blue;
        }

        svg {
          width:40px;
          font-size: 40px;
        }
      }
    }
  }
}

.hero_arrow {
  font-size: 35px;
  color: $white;
  position: absolute;
  bottom: 70px;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  cursor: pointer;

  .fa-chevron-down{
    position: absolute;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    fill: #fff;
    animation: pulse 1.3s infinite;
  }
}


// Portfolio section
#portfolio {

  h1 {
    text-align: center;
    padding-top: 3rem; //
    margin: 0 auto 3rem; //

    &:after {
      content: "";
      display: block;
      height: 4px;
      width: 40px;
      background-color: #3490dc;
      margin: 20px auto 0;
    }
  }

  .container {
    max-width: 1280px;
    //width: 1280px;
    margin: 0 auto;

    #projects {
      display: grid;
      grid-template-columns: repeat(1, 1fr); //
      grid-gap: 1rem;

      .item {
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          transition: all 0.5s ease; //
          display: block;
        }

        .item-inner {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          position: absolute;
          top: 0%;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          opacity: 0;
          color: #fff;
          margin: 0 auto;

          .item-text {
            font-size: 2rem; //
            margin-bottom: 3rem; //
          }

          .item-btn {
            display: inline-block;
            border: 3px solid $blue;
            background-color: $blue;
            padding: 0.75rem 1.5rem; //
            font-size: 16px; //
            cursor: pointer;
            align-self: center;

            &:hover {
              border: 3px solid $white;
              transition: all 0.5s ease; //
            }
          }

        }

        &:hover img {
          filter: brightness(10%);
          transform: scale(1.2);
          cursor: pointer;
          transition: all 0.5s ease; //
        }

        &:hover .item-inner {
          opacity: 1;
          transition: all 0.7s ease; //
        }

        &:hover .item-text {
          top: 20%;
        }
      }
    }
  }
} 


// Modal
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;

  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(black, 0.75);
  }

  &-content {
    position: relative;
    max-width: 1200px;
    background: white;
    padding: 40px;
    overflow-y: auto;
    //text-align: center;
    transform: scale(0.8);
    display: grid;
    //grid-template-columns: 1.5fr 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    z-index: 10;
    transition: 0.3s ease-in-out;
  }

  &-close {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 0;

    svg {
      padding: 0.5rem;
    }
  }

  img {
    width: 100%;
  }

  // &-info {
  //   padding-left: 3rem;
  // }
}

.show {
visibility: visible;
opacity: 1;
}

.modal.show > .modal-content{
transform: scale(1);
}